#background  {
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
    background-size: cover;
    height: 1196px;
}
#navbar{
    display: inline;
    color: #30cfd0;
    height: 10px;
}
#navbar li {
    display: inline-block;
    font-size: 15px;
    color: floralwhite;
    padding: 2px;
}
#mainbox    {
    width: 50%;
    height: 70%;
    position: relative;
    top: -3vh
    align-items: center;
    margin:auto;
    text-align: center;
    background-color: #FFDEE9;
    background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%);
}
#photoalbum {
    color: aliceblue;
    background-color: black;
}
.gallery img{
        left: 40px;
        height: 400px;
        width: 400px;
        padding: 10px;
        filter: brightness(70%);
        transition: .5s;
    }
    .gallery img:hover{
        filter: brightness(100%);
        transform: scale(1.1);
    }
#bat {
        position: absolute;
        height: 50%;
        width: 50%;
    }
      
#game {
        background-color: #111;
        height: 90vh;
        margin: 0 auto;
        overflow: hidden;
        position: relative;
        text-align: center;
        width: 100vh;
    }
#bg {
    background-color: darkslateblue;
}